[tool.isort]
profile = "black"
force_sort_within_sections = true
known_first_party = ["custom_components"]
combine_as_imports = true

[tool.mypy]
python_version = "3.13"
warn_return_any = true
warn_unused_configs = true
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = [
    "shellrecharge",
    "shellrecharge.*"
]
ignore_missing_imports = true